* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
}

h1{
    font-family: 'Shrikhand';
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
}

h2 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

h3{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

p {
    font-family: 'Roboto';
}

a {
    font-family: 'Roboto';
    text-decoration: none;
    color: black;
    font-size: 16px;
}

button {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    background: linear-gradient(0deg, #9356DC -5.2%, #FF79DA 110.74%);
    border: none;
    
}

.logo {
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    
}

.location {
    height: 50px;
    display: flex;
    flex-direction: row;
    column-gap: 17px;
    align-items: center;
    justify-content: center;
    background-color: #EAEAEA;
    background: linear-gradient(180deg, rgb(199, 199, 199) 0%, #e3e1e1 10%);
}

.location h3{
    font-weight: 500;
    font-size: 16px;
}

/* Reservation */

.reservation {
    background-color: #F6F6F6; 
    height: 287px;
}

.reservation div h2{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 39px 58px 0px 42px;  
    height: 105px;
}

.reservation div p {
    color: #353535; 
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0px 26px 27px 34px;
}

.reservation button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 18px;
    color: #FFFFFF;
    margin: auto;
}

.reservation button:active {
    opacity: 0.7;
}

/* Fonctionnement */

.fonction {
    padding: 50px 30px;
    height: 440px;
}

.etapes {
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    row-gap: 25px;
    height: 440px;
}


.choice {
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 35px;
    column-gap: 23px;
    height: 72px;
    width: 100%;
    position: relative;
    font-weight: bold;
    font-size: 16px;
}

.choice i {
    color: #7E7E7E;
}

.choice p {
    background-color: #9356DC; 
    color: #FFFFFF;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center; 
    min-width: 24px;
    width: 24px;
    height: 24px;
    font-size: 10px;
    position: absolute;
    left: -10px;
}



.row button:hover, i:hover {
    background-color: #F5EDFF;
    color:#9356DC;
}

/* Restaurants */



.restaurants {
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    padding: 54px 30px;
    height: 1226px;
    row-gap: 30px;
    position: relative;
}

.cards {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.row {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.cards a {
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 3px 15px #0000001a;
}

.cards img {
    width: 100%;
    height: 170px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    position: relative;
}

.cards .new {
    position: absolute;
    color: #008766;
    background-color: #99E2D0;
    padding: 6px 12px;
    font-size: 14px;
    left: 70%;
    width: 80px;
    height: 29px;
} 

.cards .description{
    padding: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.cards h3{
    font-size: 18px;
}

.cards p{
    font-weight: 300;
    font-size: 17px;
}

.description i {
    position: absolute;
    right: 10%;
    font-size: 25px;
}


/* Pages restaurants */

.fa-arrow-left {
    position: absolute;
    left: 5%;
    top: 20px;
    font-size: 22px;
}

.menu { 
    background-color: #F7F7F7;
    padding: 40px 13px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    position: relative;
    border-radius: 50px 50px 0px 0px;
    top: -40px;
    
}

.heart {
    position: absolute;
    left: 83%;
    top:3%;
}

.fa-heart { 
    width: 50px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.fa-heart:active {
    background: linear-gradient(0deg, #9356DC -5.2%, #FF79DA 110.74%);
}

.carte {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.tittle {
    border-bottom: solid 3px #99E2D0;
    width: 40px;
    padding-bottom: 5px;
}

.carte div {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.carte div button {
    background: white;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15.0431px;
    padding: 12px 0px 12px 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.price {
    display: flex;
    position: absolute;
    left: 90%;
    bottom: 19%;
}


/* Animation */




/* Bouton commander */
.commande {
    padding: 40px 92px
}

.commande button{
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    width: 186px;
    color: #FFFFFF;
    margin: auto;
    font-size: 16px;
}

.commande button:active {
    opacity: 0.7;
}

/* Footer */

footer {
    background-color:#353535;
    color: white;
    padding: 22px;
    display: flex;
    flex-direction: column;
    height: 197px;
    row-gap: 7px;
}

footer h1 {
    font-size: 18px;

}

footer a {
    display: flex;
    flex-direction: column;
    color: white;

}

.bold {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    flex-direction: row;
    column-gap: 11px;
}

.bold i{
    width: 11px;
    height: 13px;
}

@media screen and (min-width: 960px) {

/* Accueil */

.reservation {
    height: unset;
    height: 230px;
}

.fonction {
    height: 228px;
}

.etapes {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.cards {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    column-gap: 90px;

}
.cards a {
    width: unset;
    height: unset; 
    
}

.cards img {
    height: unset;
    height: 160px;
}

.restaurants {
    height: unset;
    row-gap: 30px;
}

/* Page restaurants */

header img {
    height: 400px;
    object-fit: cover;
}

.menu {
    width: unset;
    width: 80%;
    margin: auto;
    padding: 50px 210px;
}

.menu h1 {
    margin: auto;
}

.heart {
    position: absolute;
    left: 70%;
    top:4%;
}


/* Footer */

footer {
    
    padding-top: 60px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: unset;
    height: 110px;
    column-gap: 18px;
    position: relative;
}

footer h1 {
    position: absolute;
    left: 85%;
    top:40px

}

}