* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 2000px;
    margin: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

h1{
    font-family: 'Shrikhand';
    font-weight: 400;
    font-size: 30px;
}

h2 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

h3{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

p {
    font-family: 'Roboto';
}

a {
    font-family: 'Roboto';
    text-decoration: none;
    color: black;
    font-size: 16px;
}

button {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    background: linear-gradient(0deg, #9356DC -5.2%, #FF79DA 110.74%);
    border: none;
    
}

/* Animation Loader */

.loader {
    background-color: #F5EDFF;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    justify-content: center;
    align-items: center;
    opacity: 1;
    display: flex;
    animation: stop 3s both;
    pointer-events: none;
}

@keyframes stop {
    0% { opacity:1;}
    90% { opacity: 1;}
    100% { opacity: 0;}
    
}

.circle {
    border: 12px solid #9356DC;
    border-radius: 50%;
    border-top: 30px solid #FF79DA;
    width: 270px;
    height: 270px;
    animation: spin 2s linear infinite; 
    position: absolute;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.logo-loader {
    width: 270px;
    position: absolute;
    letter-spacing: 3px;
    background: linear-gradient(90deg, #FF79DA, #eecceb, #9356DC);
    background-size: 80%;
    text-align: center;
    top: 48%;
    animation: animate 3s infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.logo-loader h2 {
    font-size: 30px;
    font-family: 'Shrikhand';
    font-weight: 400;
}

@keyframes animate {
    0% {
      background-position: -390%;
    }
    100% {
      background-position: 400%;
    }
  }

/* Le coeur */

.description .fa-heart { 
    width: 50px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.fas {
    opacity: 0;
}

.fas:hover {
    opacity: 1;
    transition: all 500ms ease-in-out;
}

.logo {
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.location {
    height: 50px;
    display: flex;
    flex-direction: row;
    column-gap: 17px;
    align-items: center;
    justify-content: center;
    background-color: #EAEAEA;
}

.location h3{
    font-weight: 500;
    font-size: 16px;
}

/* Reservation */

.reservation-div {
    background-color: #F6F6F6; 
    height: 287px;
}

.reservation-div div h2{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 39px 58px 0px 42px;  
    height: 105px;
}

.reservation-div div p {
    color: #353535; 
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0px 26px 27px 34px;
}

.reservation-div button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 18px;
    color: #FFFFFF;
    margin: auto;
}

.reservation-div button:hover {
    opacity: 0.7;
}

/* Fonctionnement */

.fonction {
    height: 440px;
    display: flex;
    row-gap: 25px;
    flex-direction: column;
    padding: 50px 30px;
}

.etapes {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    height: 440px;
}


.choice {
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 35px;
    column-gap: 23px;
    height: 72px;
    width: 100%;
    position: relative;
    font-weight: bold;
    font-size: 16px;
}

.choice i {
    color: #7E7E7E;
}

.choice p {
    background-color: #9356DC; 
    color: #FFFFFF;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center; 
    min-width: 24px;
    width: 24px;
    height: 24px;
    font-size: 10px;
    position: absolute;
    left: -10px;
}



.choice:hover { 
    background-color: #F5EDFF;
}

.choice:hover 
i {
color: #9356DC;
}


/* Restaurants */

.restaurants {
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    padding: 54px 30px;
    height: 1226px;
    row-gap: 30px;
    
}

.cards {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    position: relative;
    
}


.cards a {
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 3px 15px #0000001a;
    position: relative;
}

.cards img {
    width: 100%;
    height: 170px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    
}

.cards .new {
    position: absolute;
    color: #008766;
    background-color: #99E2D0;
    padding: 6px 12px;
    font-size: 14px;
    right: 20px;
    top: 20px;
    width: 80px;
    height: 29px;
} 

.cards .description{
    padding: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.cards h3{
    font-size: 18px;
}

.cards p{
    font-weight: 300;
    font-size: 17px;
}

.description i {
    position: absolute;
    right: 10%;
    font-size: 25px;
}


/* Pages restaurants */

.fa-arrow-left {
    position: absolute;
    left: 5%;
    top: 20px;
    font-size: 22px;
}

.menu { 
    background-color: #F7F7F7;
    padding: 40px 13px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    border-radius: 50px 50px 0px 0px;
    margin-top: 230px;
}

.menu h2{
    font-family: 'Shrikhand';
    font-weight: 400;
    font-size: 30px;
}
    
.restaurants-img {
    max-width: 2000px;
    width: 100%;
    height: 275px;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    top: 63px;
}

.heart {
    position: absolute;
    top: 330px;
    right: 3%;
    width: 50px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.heart .fas {
    position: relative;
    right:30px;
}

i:hover {
    color:#9356DC;
}


.carte {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.tittle {
    border-bottom: solid 3px #99E2D0;
    width: 40px;
    padding-bottom: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}


.card-menu {
    background: white;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15.0431px;
    padding: 12px 0px 12px 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 59px;
    position: relative;
    overflow: hidden;
    opacity: 0;
    animation-fill-mode: forwards;
}

.card-menu h3 {
    white-space:nowrap; 
    text-overflow:ellipsis;
    overflow: hidden;
    width: 100%;
    text-align: left;
}

.card-menu p {
    white-space:nowrap; 
    text-overflow:ellipsis;
    overflow: hidden;
    width: 100%;
    transition: 0.5s width;
    text-align: left;
}

.anim1 {
    animation-duration: 1s;
    animation-name: slidein;
    animation-delay: 0.1s;
}

.anim2 {
    animation-duration: 1s;
    animation-name: slidein;
    animation-delay: 0.2s;
}

.anim3 {
    animation-duration: 1s;
    animation-name: slidein;
    animation-delay: 0.3s;
}

.anim4 {
    animation-duration: 1s;
    animation-name: slidein;
    animation-delay: 0.4s;
}

.anim4 {
    animation-duration: 1s;
    animation-name: slidein;
    animation-delay: 0.5s;
}

.anim5 {
    animation-duration: 1s;
    animation-name: slidein;
    animation-delay: 0.6s;
}

.anim6 {
    animation-duration: 1s;
    animation-name: slidein;
    animation-delay: 0.7s;
}

.anim7 {
    animation-duration: 1s;
    animation-name: slidein;
    animation-delay: 0.8s;
}

.anim8 {
    animation-duration: 1s;
    animation-name: slidein;
    animation-delay: 0.9s;
}

.anim9 {
    animation-duration: 1s;
    animation-name: slidein;
    animation-delay: 1s;
}

.anim10 {
    animation-duration: 1.1s;
    animation-name: slidein;
    
}

@keyframes slidein {
  from {
    opacity: 0;
    margin-bottom: 10%;
    width: 100%;
  }

  to {
    opacity: 1;
    margin-bottom: 0%;
    width: 100%;
  }
}


.price {
    display: flex;
    position: absolute;
    left: 90%;
    bottom: 19%;
    animation-fill-mode: forwards;
}

.validation {
    visibility : hidden;
    width: 69px;
    height: 59px;
    left: 100%;
    top: 0%;
    border-radius: 0px 15px 15px 0px;
    background-color: #99E2D0;
    position: absolute;
    animation-fill-mode: forwards;
}

.fa-circle-check {
    color: white;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 35%;
    bottom: 33%;
}

.card-menu:hover
.validation {
    visibility: visible;
    animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.card-menu:hover
.price {
    visibility: visible;
    animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.card-menu:hover
p {
    width: 60%;
}

.card-menu:hover
h3 {
    width: 60%;
}


  @keyframes slide-left {
    0% {
              transform: translateX(0);
    }
    100% {
              transform: translateX(-69px);
    }
  }
  

/* Bouton commander */
.commande {
    padding: 40px 92px
}

.commande button{
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    width: 186px;
    color: #FFFFFF;
    margin: auto;
    font-size: 16px;
}

.commande button:hover {
    opacity: 0.7;
}

/* Footer */

footer {
    background-color:#353535;
    color: white;
    padding: 22px;
    display: flex;
    flex-direction: column;
    height: 197px;
    row-gap: 7px;
}

.footer-desktop {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

footer h1 {
    font-size: 18px;

}

footer a {
    display: flex;
    flex-direction: column;
    color: white;

}

.bold {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    flex-direction: row;
    column-gap: 11px;
}

.bold i{
    width: 11px;
    height: 13px;
}

@media screen and (min-width: 960px) {

/* Accueil */

header {
    height: 96px;
}

header h1 {
    font-size: 36px;
}

.reservation-div {
    height: unset;
    height: 230px;
}

.reservation-div h2 {
    font-size: 40px;
}

.fonction {
    height: 228px;
    padding: 50px 207px 50px 180px;
}

.etapes {
    display: flex;
    flex-direction: row;
    column-gap: 3%;
}

.choice {
    width: 30%;
}

.restaurants {
    height: unset;
}

.cards {
    flex-direction: unset;
    flex-direction: row;
    row-gap: unset;
    column-gap: 30px;
}

.restaurants article {
    display: flex;
    width: 100%;
}


/* Page restaurants */


.restaurants-img {
    height: 383px;
    object-fit: cover;
    top: 96px;
}

.menu {
    width: unset;
    width: 80%;
    margin: 342px auto 0;
    padding: 50px 190px;
}

.menu h1 {
    margin: auto;
}

.heart {
    position: absolute;
    top: 480px;
    right: 30%;
    
}


/* Footer */

footer {
    
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: unset;
    height: 110px;
    position: relative;
}

footer h1 {
    position: absolute;
    left: 85%;
    top:40px;

}

.footer-desktop {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    column-gap: 18px;

}
}